<html>
     <head>
          <title>用户基本信息</title>
          <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     </head>
     <body>
           <div style="margin-left:auto;margin-right:auto;text-align:center;width:600px;border:2px #efefef solid">         
           <table>
                 <tr>
                    <td>手机号</td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
                    <td>身份证号</td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
                    <td>拉卡拉用户ID</td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
           </table>
           <br>
           <table border=1 cellspacing=0 width=99% align=center  bordercolor="#FFFFFF">
                 <tr bgcolor="#efefef" bordercolor="efefef">
                    <th colspan=4>基本信息</th>
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>姓名</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>出生地</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>性别</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>居住地</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>出生日期</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>婚姻状况</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
           </table>
           <br>
           <table border=1 cellspacing=0 width=99% align=center  bordercolor="#FFFFFF">
                 <tr bgcolor="#efefef" bordercolor="efefef">
                    <th colspan=4>联系方式</th>
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>手机号</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>联系人</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>座机号</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>联系人手机号</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>邮箱</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>联系人地址</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 <tr bordercolor="efefef">
                    <td><strong>微信</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>联系地址</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>                                       
                 </tr>
           </table>
           <br>
           <table border=1 cellspacing=0 width=99% align=center  bordercolor="#FFFFFF">
                 <tr bgcolor="#efefef" bordercolor="efefef">
                    <th colspan=4>教育经历</th>
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>学历</strong></td>
                    <td><strong>专业</strong></td>
                    <td><strong>毕业院校</strong></td>
                    <td><strong>毕业年份</strong></td>
                 </tr>
                 <tr bordercolor="efefef">
                    <td width=100>abc</td><!--此处从数据库读取数值-->
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>                                  
                 </tr>
           </table>
           <br>
           <table border=1 cellspacing=0 width=99% align=center  bordercolor="#FFFFFF">
                 <tr bgcolor="#efefef" bordercolor="efefef">
                    <th colspan=4>工作经历</th>
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>工作单位</strong></td>
                    <td><strong>工作职位</strong></td>
                    <td><strong>工作年限</strong></td>
                    <td><strong>薪酬</strong></td>
                 </tr>
                 <tr bordercolor="efefef">
                    <td width=100>abc</td><!--此处从数据库读取数值-->
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>                                  
                 </tr>
           </table>
           <br>
           <table border=1 cellspacing=0 width=99% align=center  bordercolor="#FFFFFF">
                 <tr bgcolor="#efefef" bordercolor="efefef">
                    <th colspan=4>银行资产</th>
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>银行卡张数</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>银行卡查询余额</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>贷记卡张数</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>开户行</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>借记卡张数</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>开户行</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
           </table>
           <br>
           <table border=1 cellspacing=0 width=99% align=center  bordercolor="#FFFFFF">
                 <tr bgcolor="#efefef" bordercolor="efefef">
                    <th colspan=4>拉卡拉钱包</th>
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>拉卡拉钱包开户日期</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>拉卡拉钱包账户余额</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
           </table>  
           <br>
           <table border=1 cellspacing=0 width=99% align=center  bordercolor="#FFFFFF">
                 <tr bgcolor="#efefef" bordercolor="efefef">
                    <th colspan=4>拉卡拉理财</th>
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>拉卡拉理财账户开通日期</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>拉卡拉理财账户余额</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>拉卡拉基金账户开通日期</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>拉卡拉基金账户余额</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
           </table>
           <br>
           <table border=1 cellspacing=0 width=99% align=center  bordercolor="#FFFFFF">
                 <tr bgcolor="#efefef" bordercolor="efefef">
                    <th colspan=4>信贷</th>
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>贷款总额</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td><strong>未偿金额</strong></td>
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>
           </table> 
           <br>
           <table border=1 cellspacing=0 width=99% align=center  bordercolor="#FFFFFF">
                 <tr bgcolor="#efefef" bordercolor="efefef">
                    <th colspan=4>终端设备</th>
                 </tr>
                 <tr bordercolor="efefef">
                    <td><strong>终端设备类型</strong></td>
                    <td><strong>终端设备型号</strong></td>
                    <td><strong>终端设备开通日期</strong></td>
                    <td><strong>是否有效</strong></td>
                 </tr>
                 <tr bordercolor="efefef">
                    <td width=100>abc</td><!--此处从数据库读取数值-->
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td width=100></td><!--此处从数据库读取数值-->
                    <td width=100></td><!--此处从数据库读取数值-->
                 </tr>                                  
                 </tr>
           </table>                  
           </div>
     </body>
</html>