<html>
     <head>
          <meta charset="utf-8" />
          <title></title>

        <link rel="stylesheet" type="text/css" href="{{
          url_for('static', filename='myjs/countUp/mystyle.css')
          }}">
        <script type="text/javascript" src="{{
          url_for('static', filename='myjs/countUp/countUp.js')
          }}"></script>


          <!-- 引入kube.css for导航 -->
          <link id="easyuiTheme" rel="stylesheet" href="{{
            url_for('static', filename='jseasyui/style/kube.css')
            }}" type="text/css">
          <link id="easyuiTheme" rel="stylesheet" href="{{
            url_for('static', filename='jseasyui/style/main.css')
            }}" type="text/css">

          <link rel="stylesheet" href="{{
                      url_for('static', filename='creditChinaJs/index.css')
                      }}">

          <!-- 引入jquery -->
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/jquery-1.11.2.min.js')
          }}"></script>


          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/esl.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/creditsearchall.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/common.js')
          }}"></script>

          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/hm.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/calander.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/jquery.template.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/jquery.simplePagination.js')
          }}"></script>







<style>
  .clock{
    position: relative;
    left: 50%;
    margin-left: -308px;
  }
</style>
     </head>
     <body>

    <div id="header" class="group wrap header">
                <div class="content">
        <div id="elogo" class="navbar navbar-left">
            <ul>
                <li>
                    <a href="{{ url_for('static',filename='jseasyui/easyui/themes/icon.css') }}"><img src="{{
          url_for('static', filename='figure/background/lakala_new.png')
          }}" width="200" height="49" alt="jQuery EasyUI"/></a>
                </li>
            </ul>
        </div>
        <div id="navbar-1" class="navbar navbar-right">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/signin">用户标签</a></li>
                <li><a href="/usergroup">用户群体探查</a></li>
                <li><a href="/tree">标签库</a></li>
                <li><a href="/report">用户报告</a></li>
                <li><a href="{{ url_for('static',filename='jseasyui/easyui/themes/icon.css') }}">联系我们</a></li>
            </ul>
        </div>
    </div>
    </div>



<div class="wrapper">
<div class="mod-header">
         <div class="mod-header-mid">
                <span class="logo"><a href="/home"></a></span>
                <!--<div class="nav-search">
                    <form method="get" action="/article_search" id="searchGlobalForm">
                        <input type="text" autocomplete="off" placeholder="请输入文章关键词"
                            class="nav-search-input" name="keyword" id="global_search" maxlength="200"/>
                        <a href="javascript:void(0)" title="请输入文章关键词" class="nav-search-icon" id="searchGlobalBtn"></a>
                    </form>
                </div>-->
        </div>
</div>
<div class="mod-page mod-page-creditsearch clearfix">
    <div class="container">
        <div class="seachInputWrap">

            <div class="seach-content">
                <div class="input-content">
                    <input class="seach-text" type="text" autocomplete="off"  id="keyword" placeholder="请输入用户信息" />
                    <input class="seach-btn" value="搜索一下" type="button"  id="go-search" />

                    <a href="javascript:;" class="advanced-seach"  id="senior-search">高级搜索</a>
                    <!--a href="javascript:void(0);"  id="senior-search">高级搜索</a-->
                </div>
                <p id="search-count" class="creditsearch-count ">
                <div class="seach-content-more">
                    <!--信用信息 str-->
                    <div id="creditsearch-filter" class="creditsearch-filter clear">
                    <!--div id="creditsearch-filter"-->
                        <div class="external">
                            <dl class="clearfix">
                                <dt>用户性别：</dt>
                                <dd class="toggle-content ">
                                    <ul class="clearfix">
                                        <li class="radio_btn search_btn_active" cateType="objType" curvalue="全部">
                                            全部
                                        </li>
                                        <li class="radio_btn" cateType="objType" curvalue="男">
                                            男
                                        </li>
                                        <li class="radio_btn" cateType="objType" curvalue="女">
                                            女
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>活动地：</dt>
                                <dd class="toggle-content">
                                    <p class="checkbox_all" id="areaAll" cateType="area">
                                        全部（按字母顺序排列）
                                    </p>

                                    <table class="clearfix" id="areaList">
                                    <tr>
                                    <td width="129" class="checkbox_btn" cateType="area" curvalue="北京">
                                        北京
                                    </td>
                                     <td width="126" class="checkbox_btn" cateType="area" curvalue="上海">
                                        上海
                                    </td>

                                    <td width="140" class="checkbox_btn" cateType="area" curvalue="天津">
                                        天津
                                    </td>

                                    <td width="90" class="checkbox_btn" cateType="area" curvalue="重庆">
                                        重庆
                                    </td>
                                    <td width="124" class="checkbox_btn" cateType="area" curvalue="安徽">
                                        安徽
                                    </td>

                                    </tr>
                                    <tr >
                                    <td class="checkbox_btn" cateType="area" curvalue="新疆维吾尔自治区" >
                                        新疆维吾尔自治区
                                    </td>

                                    <td  class="checkbox_btn" cateType="area" curvalue="云南" >
                                        云南
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="福建" >
                                        福建
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="甘肃" >
                                        甘肃
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="贵州" >
                                        贵州
                                    </td>
                                    </tr>
                                    <tr >
                                    <td class="checkbox_btn" cateType="area" curvalue="广东" >
                                        广东
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="广西壮族自治区" >
                                        广西壮族自治区
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="河南">
                                        河南
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="河北" >
                                        河北
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="湖北">
                                        湖北
                                    </td>
                                    </tr>
                                    <tr >
                                    <td class="checkbox_btn" cateType="area" curvalue="湖南" >
                                        湖南
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="黑龙江" >
                                        黑龙江
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="吉林" >
                                        吉林
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="江西">
                                        江西
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="江苏">
                                        江苏
                                    </td>
                                     </tr>
                                    <tr >
                                    <td class="checkbox_btn" cateType="area" curvalue="辽宁" >
                                        辽宁
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="内蒙古自治区">
                                        内蒙古自治区
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="宁夏回族自治区" >
                                        宁夏回族自治区
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="青海">
                                        青海
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="山西">
                                        山西
                                    </td>
                                    </tr>
                                    <tr >
                                    <td class="checkbox_btn" cateType="area" curvalue="四川">
                                        四川
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="西藏自治区">
                                        西藏自治区
                                    </td>
                                    <td class="checkbox_btn" cateType="area" curvalue="山东">
                                        山东
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="海南" >
                                        海南
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="陕西">
                                        陕西
                                    </td>
                                     </tr>
                                    <tr >
                                     <td class="checkbox_btn" cateType="area" curvalue="浙江" >
                                        浙江
                                    </td>
                                    </tr>

                                </table>

                                </dd>
                                <dd class="toggle-button  area-button"><span class="toggle-btn-down"></span></dd>
                            </dl>
                        </div>
                    </div>
                    <!--信用信息end-->
                </div>

            </div>
        </div>
        <ul class="media-list clearfix">
        </ul>
        <div class="article-media-list hidden">
    <div class="media">没有搜索记录</div>
<script>
    var G_curPage = 0;
    var G_pageSum = 0;
</script>
        </div>
        <ul class="pagination" id="pagination"></ul>
    </div>
</div>


<script type="text/javascript">
    $("#creditsearch-filter").hide();
    $(document).on("click", "#senior-search",
            function(){
                $("#creditsearch-filter").toggle();
        })
</script>

<script type="text/javascript">
    var wwwDomain = '';
    require.config({
        baseUrl: "{{
                      url_for('static', filename='creditChinaJs')
                      }}"
    });
    require(['creditsearchall'], function(creditsearall) {
        creditsearall.start();
    });


    function goSearch(){
        $('#go-search').click()
    }
</script>




    <div id="wrap">

        <section>
            <!--p style="position:absolute; top:5px; left:0;">Current stars:</p-->
            <h1 class="jumbo" id="myTargetElement">0</h1>
        </section>
        <!--section>
            <form>
                <h4 class="inlineLeft noMargin weight300">Methods:</h4>
                <input type="button" value="Start" onClick="createCountUp()" class="inlineLeft marginLeft marginRight">
            </form>
        </section-->
    </div>

<script type="text/javascript">

    // set CountUp options
    // you don't need to do this - you can use the default options
    var useOnComplete = false,
        useEasing = true,
        easingFn = null,
        useGrouping = true,
        options = {
            useEasing : useEasing, // toggle easing
            easingFn : easingFn, // defaults to easeOutExpo, but you can specify your own
            useGrouping : useGrouping, // 1,000,000 vs 1000000
            separator : ',', // character to use as a separator
            decimal : '.', // character to use as a decimal
        };

    var demo, code, data, stars, easingFunctions;

    // create instance
    window.onload = function() {
        // setup CountUp object
        demo = new CountUp('myTargetElement', 0, 94.62, 2, 2.5, options);
        // you could do demo.start() right here but we are getting actual current star count from github api below
        // since it is an asynchronous call, we fire start() in the success fn of the XMLHttpRequest object
        getStars();

        // display version (no hassling with markup!)
        document.getElementById('version').innerHTML = 'v'+demo.version();
    };

    easingFunctions = {
        easeOutExpo: function(t, b, c, d) {
            return c * (-Math.pow(2, -10 * t / d) + 1) * 1024 / 1023 + b;
        },
        outQuintic: function(t, b, c, d) {
            var ts = (t /= d) * t;
            var tc = ts * t;
            return b + c * (tc * ts + -5 * ts * ts + 10 * tc + -10 * ts + 5 * t);
        },
        outCubic: function(t, b, c, d) {
            var ts = (t /= d) * t;
            var tc = ts * t;
            return b + c * (tc + -3 * ts + 3 * t);
        }
    };



    function createCountUp() {
        var startVal = 0
        var endVal = 100
        var decimals = 0,
            duration = 2.5,
            prefix = "",
            suffix = "",
            easingFn = null

        options = {
            useEasing : useEasing,
            easingFn : typeof easingFn === 'undefined' ? null : easingFn,
            useGrouping : useGrouping,
            separator : ",",
            decimal : ".",
            prefix: prefix,
            suffix: suffix
        };

        // you don't have to create a new instance of CountUp every time you start an animation,
        // you can just change the properties individually. But I do here in case user changes values in demo.
        demo = new CountUp("myTargetElement", startVal, endVal, decimals, duration, options);
        demo.start();
        updateCodeVisualizer();
    }

    </script>



     </body>
</html>

