<html>
     <head>
          <meta charset="utf-8" />
          <title></title>

          <!--引入run card的效果-->
          <link rel="stylesheet" href="{{
            url_for('static', filename='myjs/runjs/run_card.css')
            }}" type="text/css">

          <!-- 引入kube.css for导航 -->
          <link id="easyuiTheme" rel="stylesheet" href="{{
            url_for('static', filename='jseasyui/style/kube.css')
            }}" type="text/css">
          <link id="easyuiTheme" rel="stylesheet" href="{{
            url_for('static', filename='jseasyui/style/main.css')
            }}" type="text/css">

          <link rel="stylesheet" href="{{
                      url_for('static', filename='creditChinaJs/index.css')
                      }}">
          <!--link rel="stylesheet" href="{{
                      url_for('static', filename='creditChinaJs/meta.css')
                      }}"-->
          <!-- 引入jquery -->
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/jquery-1.11.2.min.js')
          }}"></script>


          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/esl.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/creditsearchall.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/common.js')
          }}"></script>

          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/hm.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/calander.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/jquery.template.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='creditChinaJs/jquery.simplePagination.js')
          }}"></script>







<style>
  .clock{
    position: relative;
    left: 50%;
    margin-left: -308px;
  }
</style>
     </head>
     <body>

    <div id="header" class="group wrap header">
                <div class="content">
        <div id="elogo" class="navbar navbar-left">
            <ul>
                <li>
                    <a href="{{ url_for('static',filename='jseasyui/easyui/themes/icon.css') }}"><img src="{{
          url_for('static', filename='figure/background/lakala_new.png')
          }}" width="200" height="49" alt="jQuery EasyUI"/></a>
                </li>
            </ul>
        </div>
        <div id="navbar-1" class="navbar navbar-right">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="/signin">用户标签</a></li>
                <li><a href="/usergroup">用户群体探查</a></li>
                <li><a href="/tree">标签库</a></li>
                <li><a href="/report">用户报告</a></li>
                <li><a href="{{ url_for('static',filename='jseasyui/easyui/themes/icon.css') }}">联系我们</a></li>
            </ul>
        </div>
    </div>
    </div>


     <!--div style="margin-left:auto;margin-right:auto;text-align:center;width:820px;border:2px #efefef solid">
          <center>
          <h3>请选择查询条件点击确定后返回符合条件的用户数</h3>
          <form>
               用户属性：<select>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                         </select>
               用户资源：<select>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                         </select>
               用户行为：<select>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                         </select>
               用户关系：<select>
                                <option>1</option>
                                <option>1</option>
                                <option>1</option>
                         </select>
               <br><br>
               <input type="submit" value="确定">
          </form>
          <br>
          <table>
                <tr>
                   <td>符合条件的用户数为：</td><td><font size="5"<<strong>10</strong></font></td>
                </tr>
          </table>
          </center>
     </div-->

<div class="wrapper">
<div class="mod-header">
         <div class="mod-header-mid">
                <span class="logo"><a href="/home"></a></span>
                <!--<div class="nav-search">
                    <form method="get" action="/article_search" id="searchGlobalForm">
                        <input type="text" autocomplete="off" placeholder="请输入文章关键词"
                            class="nav-search-input" name="keyword" id="global_search" maxlength="200"/>
                        <a href="javascript:void(0)" title="请输入文章关键词" class="nav-search-icon" id="searchGlobalBtn"></a>
                    </form>
                </div>-->
        </div>
</div>
<div class="mod-page mod-page-creditsearch clearfix">
    <div class="container">
        <div class="seachInputWrap">

            <div class="seach-content">
                <div class="input-content">
                    <input class="seach-text" type="text" autocomplete="off"  id="keyword" placeholder="请输入用户信息" />
                    <input class="seach-btn" value="搜索一下" type="button"  id="go-search" />

                    <a href="javascript:;" class="advanced-seach"  id="senior-search">高级搜索</a>
                    <!--a href="javascript:void(0);"  id="senior-search">高级搜索</a-->
                </div>
                <p id="search-count" class="creditsearch-count ">
                <div class="seach-content-more">
                    <!--信用信息 str-->
                    <div id="creditsearch-filter" class="creditsearch-filter clear">
                    <!--div id="creditsearch-filter"-->
                        <div class="external">
                            <dl class="clearfix">
                                <dt>主体类型：</dt>
                                <dd class="toggle-content ">
                                    <ul class="clearfix">
                                        <li class="radio_btn search_btn_active" cateType="objType" curvalue="全部">
                                            全部
                                        </li>
                                        <li class="radio_btn" cateType="objType" curvalue="法人">
                                            法人
                                        </li>
                                        <li class="radio_btn" cateType="objType" curvalue="自然人">
                                            自然人
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="clearfix ">
                                <dt>记录类型：</dt>

                                <dd class="toggle-content ">
                                    <ul class="clearfix">
                                        <li class="radio_btn search_btn_active" cateType="creditType" curvalue="全部">
                                            全部
                                        </li>
                                        <li class="radio_btn" cateType="creditType" curvalue="优良记录">
                                            优良记录
                                        </li>
                                        <li class="radio_btn" cateType="creditType" curvalue="不良记录">
                                            不良记录
                                        </li>
                                        <li class="radio_btn" cateType="creditType" curvalue="失信记录">
                                            失信记录
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="clearfix">
                                <dt>归属地域：</dt>
                                <dd class="toggle-content">
                                    <p class="checkbox_all" id="areaAll" cateType="area">
                                        全部（按字母顺序排列）
                                    </p>

                                    <table class="clearfix" id="areaList">
                                    <tr>
                                    <td width="129" class="checkbox_btn" cateType="area" curvalue="北京市">
                                        北京市
                                    </td>
                                     <td width="126" class="checkbox_btn" cateType="area" curvalue="上海市">
                                        上海市
                                    </td>

                                    <td width="140" class="checkbox_btn" cateType="area" curvalue="天津市">
                                        天津市
                                    </td>

                                    <td width="90" class="checkbox_btn" cateType="area" curvalue="重庆市">
                                        重庆市
                                    </td>
                                    <td width="124" class="checkbox_btn" cateType="area" curvalue="安徽省">
                                        安徽省
                                    </td>

                                    </tr>
                                    <tr >
                                    <td  class="checkbox_btn" cateType="area" curvalue="澳门特别行政区" id="areaItem">
                                        澳门特别行政区
                                    </td>

                                    <td  class="checkbox_btn" cateType="area" curvalue="云南省" >
                                        云南省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="福建省" >
                                        福建省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="甘肃省" >
                                        甘肃省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="贵州省" >
                                        贵州省
                                    </td>
                                    </tr>
                                    <tr >
                                    <td class="checkbox_btn" cateType="area" curvalue="广东省" >
                                        广东省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="广西壮族自治区" >
                                        广西壮族自治区
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="河南省">
                                        河南省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="河北省" >
                                        河北省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="湖北省">
                                        湖北省
                                    </td>
                                    </tr>
                                    <tr >
                                    <td class="checkbox_btn" cateType="area" curvalue="湖南省" >
                                        湖南省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="黑龙江省" >
                                        黑龙江省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="吉林省" >
                                        吉林省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="江西省">
                                        江西省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="江苏省">
                                        江苏省
                                    </td>
                                     </tr>
                                    <tr >
                                    <td class="checkbox_btn" cateType="area" curvalue="辽宁省" >
                                        辽宁省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="内蒙古自治区">
                                        内蒙古自治区
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="宁夏回族自治区" >
                                        宁夏回族自治区
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="青海省">
                                        青海省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="山西省">
                                        山西省
                                    </td>
                                    </tr>
                                    <tr >
                                    <td class="checkbox_btn" cateType="area" curvalue="四川省">
                                        四川省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="西藏自治区">
                                        西藏自治区
                                    </td>
                                    <td class="checkbox_btn" cateType="area" curvalue="山东省">
                                        山东省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="海南" >
                                        海南
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="陕西省">
                                        陕西省
                                    </td>
                                     </tr>
                                    <tr >
                                    <td class="checkbox_btn" cateType="area" curvalue="香港特别行政区" >
                                        香港特别行政区
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="台湾省" >
                                        台湾省
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="新疆维吾尔自治区" >
                                        新疆维吾尔自治区
                                    </td>

                                    <td class="checkbox_btn" cateType="area" curvalue="浙江省" >
                                        浙江省
                                    </td>
                                    </tr>

                                </table>

                                </dd>
                                <dd class="toggle-button  area-button"><span class="toggle-btn-down"></span></dd>
                                <!--<dd class=" choice_btn clearfix">
                                    <button class="confirmBtn" cateType="area">确定</button>
                                    <button class="cancleBtn" cateType="area">取消</button>
                                </dd>-->
                            </dl>
                            <dl class="clearfix time_dl">
                                <dt>发布来源：</dt>
                                <dd class="toggle-content">
                                    <p class="checkbox_all" id="sourceAll" cateType="source">
                                        全部（按字母顺序排列）
                                    </p>
                                   <table class="clearfix " id="sourceList" >
                                    <tr>
                                    <td width="156" class="checkbox_btn" cateType="source" curvalue="安全部">
                                        安全部
                                    </td>

                                    <td width="132" class="checkbox_btn" cateType="source" curvalue="安全监管总局">
                                        安全监管总局
                                    </td>

                                    <td width="168" class="checkbox_btn" cateType="source" curvalue="保监会">
                                        保监会
                                    </td>

                                    <td width="100" class="checkbox_btn" cateType="source" curvalue="财政部">
                                        财政部
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="checkbox_btn" cateType="source" curvalue="银监会">
                                        银监会
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="法制办">
                                        法制办
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="国家发展和改革委员会">
                                        国家发展和改革委员会
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="工商总局">
                                        工商总局
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="checkbox_btn" cateType="source" curvalue="高检院">
                                        高检院
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="高法院、">
                                        高法院
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="工业和信息化部">
                                        工业和信息化部
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="公安部">
                                        公安部
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="checkbox_btn" cateType="source" curvalue="公务员局">
                                        公务员局
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="互联网信息办">
                                        互联网信息办
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="环境保护部">
                                        环境保护部
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="海关总署">
                                        海关总署
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="checkbox_btn" cateType="source" curvalue="教育部">
                                        教育部
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="交通运输局">
                                        交通运输局
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="民政部">
                                        民政部
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="农业部">
                                        农业部
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="checkbox_btn" cateType="source" curvalue="人力资源和社会保障局">
                                        人力资源和社会保障局
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="司法部">
                                        司法部
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="食品药品监管总局">
                                        食品药品监管总局
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="商务部">
                                        商务部
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="checkbox_btn" cateType="source" curvalue="税务总局">
                                        税务总局
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="外汇局">
                                        外汇局
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="文化部">
                                        文化部
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="卫生计生委">
                                        卫生计生委
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="checkbox_btn" cateType="source" curvalue="知识产权局">
                                        知识产权局
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="证监会">
                                        证监会
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="中国人民银行">
                                        中国人民银行
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="中央编办">
                                        中央编办
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="checkbox_btn" cateType="source" curvalue="中央宣传部">
                                        中央宣传部
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="住房城乡建设部">
                                        住房城乡建设部
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="中央文明办">
                                        中央文明办
                                    </td>

                                    <td class="checkbox_btn" cateType="source" curvalue="质检总局">
                                        质检总局
                                    </td>
                                    </tr>
                                    <tr>
                                    <td class="checkbox_btn" cateType="source" curvalue="中央政法委">
                                        中央政法委
                                    </td>
                                    </tr>

                                </table>
                                </dd>
                                <dd class="toggle-button  source-button">
                                <span class="toggle-btn-down"></span>
                                </dd>
                                <!--<dd class="choice_btn clearfix">
                                    <button class="confirmBtn"  cateType="source">确定</button>
                                    <button class="cancleBtn"  cateType="source">取消</button>
                                </dd>-->
                            </dl>

                        </div>
                    </div>
                    <!--信用信息end-->
                </div>

            </div>
        </div>
        <ul class="media-list clearfix">
        </ul>
        <div class="article-media-list hidden">
    <div class="media">没有搜索记录</div>
<script>
    var G_curPage = 0;
    var G_pageSum = 0;
</script>
        </div>
        <ul class="pagination" id="pagination"></ul>
    </div>
</div>



<script type="text/javascript">
    $("#creditsearch-filter").hide();
    $(document).on("click", "#senior-search",
            function(){
                $("#creditsearch-filter").toggle();
        })
</script>

<script type="text/javascript">
    var wwwDomain = '';
    require.config({
        baseUrl: "{{
                      url_for('static', filename='creditChinaJs')
                      }}"
    });
    require(['creditsearchall'], function(creditsearall) {
        creditsearall.start();
    });


    function goSearch(){
        $('#go-search').click()
    }
</script>

     <div align="center">
       <script src="{{
      url_for('static', filename='myjs/runjs/run_card.js')
      }}" type="text/javascript"></script>
     </div>




     </body>
</html>