{% extends "base.html" %}
 {% block content %}
 <body>

<style>
/*
控制表格边框
*/
  table td,table th{border:1px solid black;}
  table{
      border-collapse:collapse;
  border-spacing:0;
  }
</style>

  <!-- 导航栏 -->
  <div id="header" class="group wrap header">
              <div class="content">
      <div id="elogo" class="navbar navbar-left">
          <ul>
              <li>
              <a href="{{ url_for('static',filename='jseasyui/easyui/themes/icon.css') }}"><img src="{{
      url_for('static', filename='figure/background/lakala_new.png')
      }}" width="200" height="60" alt="jQuery EasyUI"/></a>
              </li>
          </ul>
      </div>
      <div id="navbar-1" class="navbar navbar-right">
          <ul>
              <li><a href="/">首页</a></li>
              <li><a href="/signin">用户标签</a></li>
              <li><a href="/usergroup">用户群体探查</a></li>
              <li><a href="/tree">标签库</a></li>
              <li><a href="/report">用户报告</a></li>
              <li><a href="{{ url_for('static',filename='jseasyui/easyui/themes/icon.css') }}">联系我们</a></li>
          </ul>
      </div>
  </div>
  </div>



 <div>
    <form id="submitform" action="/report" method="post">
        <table align="center">
            <tr>
                <td><input class="easyui-textbox" data-options="prompt:'请输入手机号查看用户信息',required:true" name="q" style="width:400px;height:25px"/></td>
                <td><a><button type="submit">提交</button></a><!--a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a--></td>
            </tr>
        </table>
    </form>
</div>

<div style="margin-left:auto;margin-right:auto;text-align:center;width:820px;border:2px #efefef solid">
     <br>
     <table algin=center>
           <tr>
              <td>手机号：</td><td width=410px>{{ results['pk_mobile'] }}</td>
              <td>身份证号：</td><td width=205px>{{ results['as_idc'] }}</td>
           </tr>
     </table>
     <br>
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td colspan=4 align=center>基本信息</td>
           </tr>
           <tr>
              <td width=200>姓名：</td><td width=200>{{ results['as_name_cn'] }}</td>
              <td width=200>出生地：</td><td width=200>{{ results['as_area_hukou'] }}</td>
           </tr>
           <tr>
              <td width=200>性别：</td><td width=200>{{ results['an_gender'] }}</td>
              <td width=200>居住地：</td><td width=200>{{ results['as_area_live'] }}</td>
           </tr>       
           <tr>
              <td width=200>出生日期：</td><td width=200>{{ results['an_dob_date'] }}</td>
              <td width=200>邮箱：</td><td width=200>{{ results['as_mail'] }}</td>
           </tr>   
           <tr>
              <td width=200>年龄：</td><td width=200>{{ results['an_age'] }}</td>
              <td width=200>联系人姓名：</td><td width=200>{{ results['as_attn_name'] }}</td>
           </tr>
           <tr>
              <td width=200>生肖：</td><td width=200>{{ results['an_zodiac'] }}</td>
              <td width=200></td><td width=200></td>
           </tr>
     </table>    
     <br><br>
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td colspan=4 align=center>使用情况</td>
           </tr>
           <tr>
              <td width=200>考拉信用评分：</td><td width=200>{{ results['as_blc_pcdt_score'] }}</td>
              <td width=200>考拉信用等级：</td><td width=200>{{ results['as_blc_pcdt_grade'] }}</td>
           </tr>
           <tr>
              <td width=200>是否有不良记录：</td><td colspan=3>{{ results['bn_blc_discdt_bl'] }}</td>
           </tr> 
     </table>
     <br><br>
     <h3><center>用户资产<center></h3>
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td rowspan=16 width=200>金融资产</td>
              <td rowspan=5 width=200>银行资产</td>
              <td width=200>银行卡张数</td>
              <td height=25 width=200>{{ results['rf_bkc_cnt_all'] }}</td>      
           </tr>
           <tr>
              <td>借记卡张数</td>
              <td height=25>{{ results['rf_dc_cnt_all'] }}</td>
           </tr>
           <tr>
              <td>借记卡开户行</td>
              <td height=25>{{ results['rf_dob_all'] }}</td>
           </tr>
           <tr>
              <td>贷记卡张数</td>
              <td height=25>{{ results['rf_cc_cnt_all'] }}</td>
           </tr>
           <tr>
              <td>贷记卡开户行</td>
              <td height=25>{{ results['rf_cob_all'] }}</td>
           </tr>
           <tr>
              <td rowspan=2>拉卡拉钱包</td>
              <td width=200>开户日期</td>
              <td height=25 width=200>{{ results['rf_lqb_acon_date'] }}</td>
           </tr>
           <tr>
              <td>账户余额</td>
              <td height=25>{{ results['rf_lqb_acbal'] }}</td>
           </tr>
           <tr>
              <td rowspan=4>拉卡拉理财</td>
              <td width=200>理财账户开户日期</td>
              <td height=25 width=200>{{ results['rf_lfp_acon_date'] }}</td>
           </tr>
           <tr>
              <td>理财账户余额</td>
              <td height=25>{{ results['rf_lfp_acbal'] }}</td>
           </tr>
           <tr>
              <td>基金账户开户日期</td>
              <td height=25>{{ results['rf_lkd_acon_date'] }}</td>
           </tr>
           <tr>
              <td>基金账户余额</td>
              <td height=25>{{ results['rf_lkd_acbal'] }}</td>
           </tr>
           <tr>
              <td rowspan=2>终端设备</td>
              <td width=200>终端数量</td>
              <td height=25 width=200>{{ results['rt_ltrm_cnt_vld'] }}</td>
           </tr>
           <tr>
              <td>终端类型</td>
              <td height=25>{{ results['rt_ltrm_typ_vld'] }}</td>
           </tr>
           <tr>
              <td rowspan=3>手机设备</td>
              <td width=200>手机型号</td>
              <td height=25 width=200>{{ results['rt_mobile_typ'] }}</td>
           </tr>
           <tr>
              <td>操作系统</td>
              <td height=25>{{ results['rt_mobile_os_ios_bl'] +" "+ results['rt_mobile_os_android_bl']}}</td>
           </tr>
           <tr>
              <td>运营商</td>
              <td height=25>{{ results['rt_mobile_opt'] }}</td>
           </tr>
     </table>
     <br><br>
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td colspan=4 align=center>行为习惯</td>
           </tr>
           <tr>
              <td width=240>用户最常交易时段：</td><td width=160>{{ results['bh_blp_pt_cmax'] }}</td>
              <td width=240>用户最近一次交易时段：</td><td width=160>{{ results['bh_blp_pt_lst'] }}</td>
           </tr>
           <tr>
              <td width=240>用户最常交易地点（省）：</td><td width=160>{{ results['bh_blp_prov_cmax'] }}</td>
              <td width=240>用户最近一次交易地点（省）：</td><td width=160>{{ results['bh_blp_prov_lst'] }}</td>
           </tr>       
           <tr>
              <td width=240>用户最常做的业务类型：</td><td width=160>{{ results['bh_blp_type_cmax'] }}</td>
              <td width=240>用户最近一次做的业务类型：</td><td width=200>{{ results['bh_blp_type_lst'] }}</td>
           </tr> 
           <tr>
              <td width=240>用户最常使用的终端类型：</td><td width=160>{{ results['bh_blp_ltrm_cmax'] }}</td>
              <td width=240>用户最近一次使用的终端类型：</td><td width=160>{{ results['blr_term_typ_lst'] }}</td>
           </tr> 
     </table>
     <br><br>
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td colspan=4 align=center>业务接触——便民</td>
           </tr>
           <tr>
              <td width=240>第一次信用卡还款日期：</td><td colspan=3>{{ results['blr_xykhk_date_fst'] }}</td>
           </tr>
           <tr>
              <td width=240>近12个自然月信用卡还款笔数：</td><td width=160>{{ results['blr_xykhk_cnt_12m'] }}</td>
              <td width=240>近3个自然月信用卡还款笔数：</td><td width=160>{{ results['blr_xykhk_cnt_3m'] }}</td>
           </tr>       
           <tr>
              <td width=240>近12个自然月信用卡还款金额：</td><td width=160>{{ results['blr_xykhk_amt_12m'] }}</td>
              <td width=240>近3个自然月信用卡还款金额：</td><td width=200>{{ results['blr_xykhk_amt_3m'] }}</td>
           </tr> 
     <table>
     <br>
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td width=240>首次查询时间：</td><td colspan=3></td>
           </tr>
           <tr>
              <td width=240>最近12个自然月余额查询笔数：</td><td width=160>{{ results['blr_yecx_cnt_12m'] }}</td>
              <td width=240>最近3个自然月余额查询笔数：</td><td width=160>{{ results['blr_yecx_cnt_3m'] }}</td>
           </tr> 
     </table>
     <br>
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td width=240>第一次完成话费充值的日期：</td><td colspan=3>{{ results['blr_hfcz_date_lst'] }}</td>
           </tr>
           <tr>
              <td width=240>最近12个自然月话费充值笔数：</td><td width=160>{{ results['blr_hfcz_cnt_12m'] }}</td>
              <td width=240>最近3个自然月话费充值笔数：</td><td width=160>{{ results['blr_hfcz_cnt_3m'] }}</td>
           </tr> 
           <tr>
              <td width=240>最近12个自然月话费充值金额：</td><td width=160>{{ results['blr_hfcz_amt_12m'] }}</td>
              <td width=240>最近3个自然月话费充值金额：</td><td width=160>{{ results['blr_hfcz_amt_3m'] }}</td>
           </tr> 
     </table>
     <br>   
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td width=240>第一次完成转账汇款的日期：</td><td colspan=3>{{ results['blr_zzhk_date_fst'] }}</td>
           </tr>
           <tr>
              <td width=240>近12个自然月转账汇款笔数：</td><td width=160>{{ results['blr_zzhk_cnt_12m'] }}</td>
              <td width=240>近2个自然月转账汇款笔数：</td><td width=160>{{ results['blr_zzhk_cnt_2m'] }}</td>
           </tr> 
           <tr>
              <td width=240>近12个自然月转账汇款金额：</td><td width=160>{{ results['blr_zzhk_amt_12m'] }}</td>
              <td width=240>近2个自然月转账汇款金额：</td><td width=160>{{ results['blr_zzhk_amt_2m'] }}</td>
           </tr> 
     </table>
     <br>  
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td width=240>最近一次水电煤缴费的日期：</td><td colspan=3 width=560>{{ results['blr_sdmjf_date_lst'] }}</td>
           </tr>
           <tr>
              <td width=240>最近一次水电煤缴费的金额：</td><td colspan=3 width=560>{{ results['blr_sdmjf_amt_lst'] }}</td>
           </tr>
     </table>
     <br><br>
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td colspan=4 align=center>业务接触——金融</td>
           </tr>
           <tr>
              <td width=240>替你还当前贷款金额：</td><td colspan=3>{{ results['blf_tnh_loan_amt_lst1'] }}</td>
           </tr>
           <tr>
              <td width=240>替你还贷款总金额：</td><td width=160>{{ results['blf_tnh_loan_amt_all'] }}</td>
              <td width=240>替你还贷款总次数：</td><td width=160>{{ results['blf_tnh_loan_cnt_all'] }}</td>
           </tr>
           <tr>
              <td width=240>替你还最后一次放款金额：</td><td width=160>{{ results['blf_tnh_loan_amt_lst'] }}</td>
              <td width=240>替你还最后一次放款日期：</td><td width=160>{{ results['blf_tnh_loan_date_lst'] }}</td>
           </tr>
           <tr>
              <td width=240>替你还当前逾期天数：</td><td width=160>{{ results['blf_tnh_overdue_day_lst'] }}</td>
              <td width=240>替你还逾期总金额：</td><td width=160>{{ results['blf_tnh_repayf_amt'] }}</td>
           </tr>
     <table>
     <br>
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td width=240>易分期当前贷款金额：</td><td colspan=3>{{ results['blf_yfq_loan_amt_lst1'] }}</td>
           </tr>
           <tr>
              <td width=240>易分期贷款总金额：</td><td width=160>{{ results['blf_yfq_loan_amt_all'] }}</td>
              <td width=240>易分期贷款总次数：</td><td width=160>{{ results['blf_yfq_loan_cnt_all'] }}</td>
           </tr>
           <tr>
              <td width=240>易分期最后一次放款金额：</td><td width=160> {{ results['blf_yfq_loan_amt_lst']}} </td>
              <td width=240>易分期最后一次放款日期：</td><td width=160> {{ results['blf_yfq_loan_date_lst']}} </td>
           </tr>
           <tr>
              <td width=240>易分期当前逾期天数：</td><td width=160> {{ results['blf_yfq_overdue_day_lst']}} </td>
              <td width=240>易分期逾期总金额：</td><td width=160> {{ results['blf_yfq_repayf_amt']}} </td>
           </tr>
     <table>
     <br>
     <table border=1 cellspacing=0 align=center  bordercolor="#FFFFFF">
           <tr>
              <td width=240>员工贷当前贷款金额：</td><td colspan=3> {{ results['blf_ygd_loan_amt_lst']}} </td>
           </tr>
           <tr>
              <td width=240>员工贷贷款总金额：</td><td width=160> {{ results['blf_ygd_loan_amt_all']}} </td>
              <td width=240>员工贷贷款总次数：</td><td width=160> {{ results['blf_ygd_loan_cnt_all']}} </td>
           </tr>
           <tr>
              <td width=240>员工贷最后一次放款金额：</td><td width=160> {{ results['blf_ygd_loan_amt_lst']}} </td>
              <td width=240>员工贷最后一次放款日期：</td><td width=160> {{ results['blf_ygd_loan_date_lst']}} </td>
           </tr>
           <tr>
              <td width=240>员工贷当前逾期天数：</td><td width=160> {{ results['blf_ygd_overdue_day_lst']}} </td>
              <td width=240>员工贷逾期总金额：</td><td width=160> {{ results['blf_ygd_repayf_amt']}} </td>
           </tr>
     <table>
     <br><br>
     <h3><center>用户业务接触汇总<center></h3>
     <table algin=center bgcolor=lightblue>
           <tr>
              <td width=200>拉卡拉大终端用户：</td><td width=200px> {{ results['bw_blp_dzd_bl']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉手刷用户：</td><td width=200px> {{ results['bw_blp_ss_bl']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉手环用户：</td><td width=200px> {{ results['bw_blp_sh_bl']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉老终端用户：</td><td width=200px> {{ results['bw_blp_told_bl']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉收款宝用户：</td><td width=200px> {{ results['bw_blp_skb_bl']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉POS用户：</td><td width=200px> {{ results['bw_blp_pos_bl']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉公缴用户：</td><td width=200px> {{ results['bc_blr_ggjf_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉水费用户：</td><td width=200px> {{ results['bc_blr_sfjf_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉电费用户：</td><td width=200px> {{ results['bc_blr_dfjf_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉煤气费用户：</td><td width=200px> {{ results['bc_blr_mfjf_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉有线电视费用户：</td><td width=200px> {{ results['bc_blr_yxjf_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉供暖费用户：</td><td width=200px> {{ results['bc_blr_gnjf_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉物业费用户：</td><td width=200px> {{ results['bc_blr_wyjf_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉交通罚款用户：</td><td width=200px> {{ results['bc_blr_jtfk_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉通讯费用户：</td><td width=200px> {{ results['bc_blr_txjf_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉信用卡还款用户：</td><td width=200px> {{ results['bf_blf_xykhk_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉转账汇款用户：</td><td width=200px> {{ results['bf_blf_zzhk_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉替你还用户：</td><td width=200px> {{ results['bf_blf_tnh_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉易分期用户：</td><td width=200px> {{ results['bf_blf_yfq_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉余额查询用户：</td><td width=200px> {{ results['bf_blf_yecx_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉基金用户：</td><td width=200px> {{ results['bf_blf_lfp_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉理财用户：</td><td width=200px> {{ results['bf_blf_lkd_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉火车票用户：</td><td width=200px> {{ results['bt_blr_hcp_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉飞机票用户：</td><td width=200px> {{ results['bt_blr_fjp_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉彩票用户：</td><td width=200px> {{ results['be_blr_cp_bl_all']}} </td>
           </tr>
           <tr>
              <td width=200>拉卡拉众筹用户：</td><td width=200px> {{ results['be_blr_zc_bl_all']}} </td>
           </tr>
     </table>
     <br>     
     </div>
</body>
 {% endblock %}

