<html
     <head>
          <meta charset="utf-8" />
          <title>label tree</title>
          <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jsmind/style/jsmind.css') }}">
          <script type="text/javascript" src="{{
          url_for('static', filename='jsmind/js/jsmind.draggable.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='jsmind/js/jsmind.js')
          }}"></script>
          <script type="text/javascript" src="{{
          url_for('static', filename='jsmind/js/jsmind.screenshot.js')
          }}"></script>

          <!-- 引入kube.css for导航 -->
          <link id="easyuiTheme" rel="stylesheet" href="{{
            url_for('static', filename='jseasyui/style/kube.css')
            }}" type="text/css">
          <link id="easyuiTheme" rel="stylesheet" href="{{
            url_for('static', filename='jseasyui/style/main.css')
            }}" type="text/css">

     </head>
     <body>

      <!-- 导航栏 -->
      <div id="header" class="group wrap header">
                  <div class="content">
          <div id="elogo" class="navbar navbar-left">
              <ul>
                  <li>
                  <a href="{{ url_for('static',filename='jseasyui/easyui/themes/icon.css') }}"><img src="{{
      url_for('static', filename='figure/background/lakala_new.png')
      }}" width="200" height="60" alt="jQuery EasyUI"/></a>
                  </li>
              </ul>
          </div>
          <div id="navbar-1" class="navbar navbar-right">
              <ul>
                  <li><a href="/">首页</a></li>
                  <li><a href="/signin">用户标签</a></li>
                  <li><a href="/usergroup">用户群体探查</a></li>
                  <li><a href="/tree">标签库</a></li>
                  <li><a href="/report">用户报告</a></li>
                  <li><a href="{{ url_for('static',filename='jseasyui/easyui/themes/icon.css') }}">联系我们</a></li>
              </ul>
          </div>
      </div>
      </div>



    <div id="jsmind_container"></div>
    <script type="text/javascript">
    var mind = {
        /* 元数据，定义思维导图的名称、作者、版本等信息 */
        "meta":{
            "name":"jsMind-demo-tree",
            "author":"hizzgdev@163.com",
            "version":"0.2"
        },
        /* 数据格式声明 */
        "format":"node_tree",
        /* 数据内容 */
        "data":{"id":"01","topic":"拉卡拉标签库","children":[
            {"id":"10","topic":"用户属性","direction":"left","children":[
                {"id":"101","topic":"自然属性","children":[
                    {"id":"1011","topic":"性别"},
                    {"id":"1012","topic":"出生日期"},
                    {"id":"1013","topic":"年代"},
                    {"id":"1014","topic":"星座"},
                    {"id":"1015","topic":"生肖"}
                ]},
                {"id":"102","topic":"社会属性", "children":[
                    {"id":"1021","topic":"中文姓名"},
                    {"id":"1022","topic":"昵称"},
                    {"id":"1023","topic":"婚姻状况"},
                    {"id":"1024","topic":"子女数量"},
                    {"id":"1025","topic":"国藉"},
                    {"id":"1026","topic":"出生地"},
                    {"id":"1027","topic":"居住地"},
                    {"id":"1028","topic":"主要活动地"},
                    {"id":"1029","topic":"曾经活动地"},
                    {"id":"10201","topic":"身份证号"},
                    {"id":"10202","topic":"护照号"},
                    {"id":"10203","topic":"手机号"},
                    {"id":"10204","topic":"曾用手机号个数"},
                    {"id":"10205","topic":"曾用手机号"},
                    {"id":"10207","topic":"座机号"},
                    {"id":"10208","topic":"曾用座机号"},
                    {"id":"10209","topic":"邮箱"},
                    {"id":"10211","topic":"曾用邮箱"},
                    {"id":"10212","topic":"微信号"},
                    {"id":"10213","topic":"联系人姓名"},
                    {"id":"10214","topic":"联系人手机号"},
                    {"id":"10215","topic":"联系人座机号"},
                    {"id":"10216","topic":"联系人地址"},
                    {"id":"10217","topic":"最高学历"},
                    {"id":"10218","topic":"最高学位"},
                    {"id":"10219","topic":"最高学历专业"},
                    {"id":"10220","topic":"专业"},
                    {"id":"10221","topic":"毕业院校"},
                    {"id":"10222","topic":"博士专业"},
                    {"id":"10223","topic":"博士毕业院校"},
                    {"id":"10224","topic":"博士入学日期"},
                    {"id":"10225","topic":"博士毕业日期"},
                    {"id":"10226","topic":"硕士专业"},
                    {"id":"10227","topic":"硕士毕业学校"},
                    {"id":"10228","topic":"硕士入学日期"},
                    {"id":"10229","topic":"本科专业"},
                    {"id":"10230","topic":"本科毕业院校"},
                    {"id":"10231","topic":"本科入学时间"},
                    {"id":"10232","topic":"本科毕业时间"},
                    {"id":"10233","topic":"高中毕业院校"},
                    {"id":"10234","topic":"高中入学时间"},
                    {"id":"10235","topic":"高中毕业时间"},
                    {"id":"10236","topic":"最近工作单位"},
                    {"id":"10237","topic":"最近工作职位"},
                    {"id":"10238","topic":"法人代表"},
                    {"id":"10239","topic":"拉卡拉个人征信评分"},
                    {"id":"10240","topic":"拉卡拉个人征信等级"},
                    {"id":"10241","topic":"拉卡拉商户征信评分"},
                    {"id":"10242","topic":"拉卡拉商户征信等级"}
                ]}
            ]},
            {"id":"11","topic":"用户资源","direction":"right","children":[
                {"id":"111","topic":"金融资产","children":[
                    {"id":"1110","topic":"是否有银行卡"},
                    {"id":"1111","topic":"是否有借记卡"},
                    {"id":"1112","topic":"是否有贷记卡"},
                    {"id":"1113","topic":"银行卡张数"},
                    {"id":"1114","topic":"借记卡张数"},
                    {"id":"1115","topic":"贷记卡张数"},
                    {"id":"1116","topic":"银行卡开户行数"},
                    {"id":"1117","topic":"借记卡开户行数"},
                    {"id":"1118","topic":"贷记卡开户行数"},
                    {"id":"1119","topic":"银行卡开户行"},
                    {"id":"11110","topic":"借记卡开户行"},
                    {"id":"11111","topic":"贷记卡开户行"},
                    {"id":"11112","topic":"银行卡卡号"},
                    {"id":"11113","topic":"借记卡卡号"},
                    {"id":"11114","topic":"贷记卡卡号"},
                    {"id":"11115","topic":"银行卡余额"},
                    {"id":"11116","topic":"拉卡拉钱包"},
                    {"id":"11117","topic":"拉卡拉钱包账号"},
                    {"id":"11118","topic":"拉卡拉钱包开户日期"},
                    {"id":"11119","topic":"拉卡拉钱包余额"},
                    {"id":"11120","topic":"拉卡拉理财账户"},
                    {"id":"11121","topic":"拉卡拉理财账户开通日期"},
                    {"id":"11122","topic":"拉卡拉理财账号"},
                    {"id":"11123","topic":"拉卡拉理财账户余额"},
                    {"id":"11124","topic":"拉卡拉基金账户"},
                    {"id":"11125","topic":"拉卡拉基金账户开通日期"},
                    {"id":"11126","topic":"拉卡拉基金账号"},
                    {"id":"11127","topic":"拉卡拉基金账户余额"}
                ]},
                {"id":"112","topic":"有形物资","children":[
                    {"id":"1120","topic":"拉卡拉终端"},
                    {"id":"1121","topic":"有过拉卡拉终端"},
                    {"id":"1122","topic":"拉卡拉移动终端"},
                    {"id":"1123","topic":"有效拉卡拉终端数量"},
                    {"id":"1124","topic":"所有拉卡拉终端数量"},
                    {"id":"1125","topic":"有效拉卡拉终端类型"},
                    {"id":"1126","topic":"所有拉卡拉终端类型"},
                    {"id":"1127","topic":"有效拉卡拉终端种类数"},
                    {"id":"1128","topic":"拉卡拉手刷"},
                    {"id":"1129","topic":"有效拉卡拉手刷数量"},
                    {"id":"11210","topic":"手刷首次激活日期"},
                    {"id":"11211","topic":"拉卡拉收款宝"},
                    {"id":"11212","topic":"有效拉卡拉收款宝数量"},
                    {"id":"11213","topic":"收款宝首次开通时间"},
                    {"id":"11214","topic":"拉卡拉手环"},
                    {"id":"11215","topic":"有效的拉卡拉手环数量"},
                    {"id":"11216","topic":"手环首次开通日期"},
                    {"id":"11217","topic":"老终端（mini,超盾，刷卡电话）"},
                    {"id":"11218","topic":"手机数量"},
                    {"id":"11219","topic":"手机型号"},
                    {"id":"11220","topic":"手机操作系统"},
                    {"id":"11221","topic":"IOS系统用户"},
                    {"id":"11222","topic":"安卓系统用户"},
                    {"id":"11223","topic":"运营商"},
                    {"id":"11224","topic":"移动用户"},
                    {"id":"11225","topic":"联通用户"},
                    {"id":"11226","topic":"电信用户"}
                ]},
                {"id":"113","topic":"虚拟资产","children":[
                    {"id":"1130","topic":"拉卡拉相关APP"},
                    {"id":"1131","topic":"拉卡拉相关APP数量"},
                    {"id":"1132","topic":"拉卡拉相关APP类型"},
                    {"id":"1133","topic":"拉卡拉APP"},
                    {"id":"1134","topic":"拉卡拉APP版本"},
                    {"id":"1135","topic":"首次激活拉卡拉APP日期"},
                    {"id":"1136","topic":"收款宝APP"},
                    {"id":"1137","topic":"收款宝APP版本"},
                    {"id":"1138","topic":"首次激活收款宝APP日期"},
                    {"id":"1139","topic":"手环APP"},
                    {"id":"11310","topic":"手环APP版本"},
                    {"id":"11311","topic":"首次激活手环APP日期"},
                    {"id":"11312","topic":"身边小店APP"},
                    {"id":"11313","topic":"身边小店APP版本"},
                    {"id":"11314","topic":"首次激活身边小店APP日期"},
                    {"id":"11315","topic":"身边小店商户版APP"},
                    {"id":"11316","topic":"身边小店商户版APP版本"},
                    {"id":"11317","topic":"首次激活身边小店商户版APP日期"},
                    {"id":"11318","topic":"考拉征信APP"},
                    {"id":"11319","topic":"考拉征信APP版本"},
                    {"id":"11320","topic":"首次激活考拉征信APP日期"}
                ]}
            ]},
            {"id":"12","topic":"用户行为","direction":"right","children":[
                {"id":"121","topic":"行为习惯","children":[
                    {"id":"1210","topic":"用户最常交易时段"},
                    {"id":"1211","topic":"用户最近一次交易时段"},
                    {"id":"1212","topic":"用户最常交易地点（省）"},
                    {"id":"1213","topic":"用户最近一次交易地点（省）"},
                    {"id":"1214","topic":"用户最常做的业务类型"},
                    {"id":"1215","topic":"用户最近一次做的业务类型"},
                    {"id":"1216","topic":"用户最常使用的终端类型"}
                ]},
                {"id":"122","topic":"行为方式","children":[
                    {"id":"1220","topic":"拉卡拉大终端用户"},
                    {"id":"1221","topic":"拉卡拉手刷用户"},
                    {"id":"1222","topic":"拉卡拉手环用户"},
                    {"id":"1223","topic":"拉卡拉老终端用户"},
                    {"id":"1224","topic":"拉卡拉收款宝用户"},
                    {"id":"1225","topic":"拉卡拉POS用户"}
                ]},
                {"id":"123","topic":"生活消费","children":[
                    {"id":"1230","topic":"拉卡拉公缴用户"},
                    {"id":"1231","topic":"拉卡拉水费用户"},
                    {"id":"1232","topic":"拉卡拉电费用户"},
                    {"id":"1233","topic":"拉卡拉煤气费用户"},
                    {"id":"1234","topic":"拉卡拉有线电视费用户"},
                    {"id":"1235","topic":"拉卡拉供暖费用户"},
                    {"id":"1236","topic":"拉卡拉物业费用户"},
                    {"id":"1237","topic":"拉卡拉交通罚款用户"},
                    {"id":"1238","topic":"拉卡拉通讯费用户"},
                    {"id":"1239","topic":"拉卡拉话费充值用户"},
                    {"id":"12310","topic":"拉卡拉电商用户"}
                ]},
                {"id":"124","topic":"金融理财","children":[
                    {"id":"1240","topic":"拉卡拉信用卡还款用户"},
                    {"id":"1241","topic":"拉卡拉转账汇款用户"},
                    {"id":"1242","topic":"拉卡拉借点钱用户"},
                    {"id":"1243","topic":"拉卡拉替你还用户"},
                    {"id":"1244","topic":"拉卡拉易分期用户"},
                    {"id":"1245","topic":"拉卡拉余额查询用户"},
                    {"id":"1246","topic":"拉卡拉基金用户"},
                    {"id":"1247","topic":"拉卡拉理财用户"}
                ]},
                {"id":"125","topic":"出行行为","children":[
                    {"id":"1250","topic":"拉卡拉火车票用户"},
                    {"id":"1251","topic":"拉卡拉飞机票用户"}
                ]},
                {"id":"126","topic":"娱乐行为","children":[
                    {"id":"1260","topic":"拉卡拉彩票用户"},
                    {"id":"1261","topic":"拉卡拉众筹用户"}
                ]},
                {"id":"127","topic":"异常行为","children":[
                    {"id":"1270","topic":"不良记录用户"},
                    {"id":"1271","topic":"违约行为(全部)"}
                ]}
            ]},
            {"id":"13","topic":"拉卡业务","direction":"left","children":[
                {"id":"131","topic":"拉卡拉便民","children":[
                    {"id":"1310","topic":"近1个自然月便民成功交易笔数"},
                    {"id":"1311","topic":"近1个自然月便民成功交易金额"},
                    {"id":"1312","topic":"近1个自然月水电煤缴费笔数"},
                    {"id":"1313","topic":"近1个自然月水电煤缴费金额"},
                    {"id":"1314","topic":"近1个自然月公共缴费次数"},
                    {"id":"1315","topic":"近1个自然月公共缴费金额"},
                    {"id":"1316","topic":"近1个自然月公缴除水电煤缴费笔数"},
                    {"id":"1317","topic":"近1个自然月公缴除水电煤缴费金额"},
                    {"id":"1318","topic":"近1个自然月转账汇款笔数"},
                    {"id":"1319","topic":"近1个自然月转账汇款金额"},
                    {"id":"13110","topic":"近12个自然月公缴除水电煤缴费月份"},
                    {"id":"13111","topic":"近12个自然月公共缴费缴费月份"},
                    {"id":"13112","topic":"近12个自然月转账汇款月份"},
                    {"id":"13113","topic":"便民成功交易总次数"},
                    {"id":"13114","topic":"便民成功交易总金额"},
                    {"id":"13115","topic":"第一次便民成功交易日期"},
                    {"id":"13116","topic":"最近一次便民成功交易日期"},
                    {"id":"13117","topic":"便民成功交易总业务类型"},
                    {"id":"13118","topic":"第一次使用手刷完成便民交易的日期"},
                    {"id":"13119","topic":"最近一次使用手刷完成便民交易的日期"},
                    {"id":"13120","topic":"第一次完成公共缴费的日期"},
                    {"id":"13121","topic":"最近一次完成公共缴费的日期"},
                    {"id":"13122","topic":"第一次完成公共缴费的金额"},
                    {"id":"13123","topic":"最近一次完成公共缴费的金额"},
                    {"id":"13124","topic":"转账汇款总笔数"},
                    {"id":"13125","topic":"转账汇款总金额"},
                    {"id":"13126","topic":"第一次完成转账汇款的日期"},
                    {"id":"13127","topic":"最近一次完成转账汇款的日期"},
                    {"id":"13128","topic":"第一次完成话费充值的日期"},
                    {"id":"13129","topic":"最近一次完成话费充值的日期"},
                    {"id":"13130","topic":"最近一次完成话费充值的金额"},
                    {"id":"13131","topic":"第一次完成水电煤缴费的日期"},
                    {"id":"13132","topic":"第一次水电煤缴费的金额"},
                    {"id":"13133","topic":"最近一次水电煤缴费的日期"},
                    {"id":"13134","topic":"最近一次水电煤缴费的金额"},
                    {"id":"13135","topic":"近2个自然月便民业务笔数"},
                    {"id":"13136","topic":"近2个自然月便民业务金额"},
                    {"id":"13137","topic":"近2个自然月水电煤缴费笔数"},
                    {"id":"13138","topic":"近2个自然月水电煤缴费金额"},
                    {"id":"13139","topic":"近2个自然月公共缴费笔数"},
                    {"id":"13140","topic":"近2个自然月公共缴费金额"},
                    {"id":"13141","topic":"近2个自然月公缴除水电煤缴费笔数"},
                    {"id":"13142","topic":"近2个自然月公缴除水电煤缴费金额"},
                    {"id":"13143","topic":"近2个自然月转账汇款笔数"},
                    {"id":"13144","topic":"近2个自然月转账汇款金额"},
                    {"id":"13145","topic":"近12个自然月公共缴费笔数"},
                    {"id":"13146","topic":"近12个自然月公共缴费金额"},
                    {"id":"13147","topic":"近12个自然月公共缴费月份数"},
                    {"id":"13148","topic":"近12个自然月水电煤缴费"},
                    {"id":"13149","topic":"近12个自然月水电煤缴费金额"},
                    {"id":"13150","topic":"近12个自然月公共缴费"},
                    {"id":"13151","topic":"近12个自然月公共缴费金额"},
                    {"id":"13152","topic":"近12个自然月公缴除水电煤缴费"},
                    {"id":"13153","topic":"近12个自然月公缴除水电煤缴费"},
                    {"id":"13154","topic":"近12个自然月转账汇款笔数"},
                    {"id":"13155","topic":"近12个自然月转账汇款金额"},
                    {"id":"13156","topic":"近12个自然月话费充值笔数"},
                    {"id":"13157","topic":"近12个自然月话费充值金额"},
                    {"id":"13158","topic":"近12个自然月转账汇款入卡银行卡张数"},
                    {"id":"13159","topic":"近24个自然月转账汇款笔数"},
                    {"id":"13160","topic":"近24个自然月转账汇款金额"},
                    {"id":"13161","topic":"近12个自然月便民交易使用手刷数"},
                    {"id":"13162","topic":"近12个自然月使用手刷进行便民交易的笔数"},
                    {"id":"13163","topic":"近12个自然月便民交易月份"},
                    {"id":"13164","topic":"信用卡还款总笔数"},
                    {"id":"13165","topic":"信用卡还款总金额"},
                    {"id":"13166","topic":"第一次信用卡还款日期"},
                    {"id":"13167","topic":"最近一次信用卡还款日期"},
                    {"id":"13168","topic":"信用卡还款贷记卡张数"},
                    {"id":"13169","topic":"借记卡还款借记卡张数"},
                    {"id":"13170","topic":"最近一次信用卡还款金额"},
                    {"id":"13171","topic":"最近一次信用卡还款终端类型"},
                    {"id":"13172","topic":"近1个自然月信用卡还款笔数"},
                    {"id":"13173","topic":"近2个自然月信用卡还款笔数"},
                    {"id":"13174","topic":"近3个自然月信用卡还款笔数"},
                    {"id":"13175","topic":"近6个自然月信用卡还款笔数"},
                    {"id":"13176","topic":"近12个自然月信用卡还款笔数"},
                    {"id":"13177","topic":"近24个自然月信用卡还款笔数"},
                    {"id":"13178","topic":"近1个自然月信用卡还款金额"},
                    {"id":"13179","topic":"近2个自然月信用卡还款金额"},
                    {"id":"13180","topic":"近3个自然月信用卡还款金额"},
                    {"id":"13181","topic":"近6个自然月信用卡还款金额"},
                    {"id":"13182","topic":"近12个自然月信用卡还款金额"},
                    {"id":"13183","topic":"近24个自然月信用卡还款金额"},
                    {"id":"13184","topic":"近1个自然月信用卡还款贷记卡银行数"},
                    {"id":"13185","topic":"近3个自然月信用卡还款贷记卡银行数"},
                    {"id":"13186","topic":"近6个自然月信用卡还款贷记卡银行数"},
                    {"id":"13187","topic":"近12个自然月信用卡还款贷记卡银行数"},
                    {"id":"13188","topic":"近24个自然月信用卡还款贷记卡银行数"},
                    {"id":"13189","topic":"近1个自然月信用卡还款借记卡银行数"},
                    {"id":"13190","topic":"近3个自然月信用卡还款借记卡银行数"},
                    {"id":"13191","topic":"近6个自然月信用卡还款借记卡银行数"},
                    {"id":"13192","topic":"近12个自然月信用卡还款借记卡银行数"},
                    {"id":"13193","topic":"近24个自然月信用卡还款借记卡银行数"},
                    {"id":"13194","topic":"近1个自然月信用卡还款贷记卡张数"},
                    {"id":"13195","topic":"近3个自然月信用卡还款贷记卡张数"},
                    {"id":"13196","topic":"近6个自然月信用卡还款贷记卡张数"},
                    {"id":"13197","topic":"近12个自然月信用卡还款贷记卡张数"},
                    {"id":"13198","topic":"近24个自然月信用卡还款贷记卡张数"},
                    {"id":"13199","topic":"近1个自然月信用卡还款借记卡张数"},
                    {"id":"131100","topic":"近3个自然月信用卡还款借记卡张数"},
                    {"id":"131101","topic":"近6个自然月信用卡还款借记卡张数"},
                    {"id":"131102","topic":"近12个自然月信用卡还款借记卡张数"},
                    {"id":"131103","topic":"近24个自然月信用卡还款借记卡张数"},
                    {"id":"131104","topic":"近1个自然月信用卡还款单笔最大金额"},
                    {"id":"131105","topic":"近3个自然月信用卡还款单笔最大金额"},
                    {"id":"131106","topic":"近6个自然月信用卡还款单笔最大金额"},
                    {"id":"131107","topic":"近12个自然月信用卡还款单笔最大金额"},
                    {"id":"131108","topic":"近24个自然月信用卡还款单笔最大金额"},
                    {"id":"131109","topic":"近12个自然月信用卡还款交易月份数"},
                    {"id":"131110","topic":"近12个自然月信用卡还款最多终端数"},
                    {"id":"131111","topic":"近12个自然月信用卡还款单月最大金额"},
                    {"id":"131112","topic":"余额查询总笔数"},
                    {"id":"131113","topic":"最近1个月单卡查询笔数最大值"},
                    {"id":"131114","topic":"最近3个月单卡查询笔数最大值"},
                    {"id":"131115","topic":"最近6个月单卡查询笔数最大值"},
                    {"id":"131116","topic":"最近12个月单卡查询笔数最大值"},
                    {"id":"131117","topic":"最后一次查询的余额"},
                    {"id":"131118","topic":"首次查询时间"},
                    {"id":"131119","topic":"最后一次查询时间"},
                    {"id":"131120","topic":"最近1个自然月余额查询笔数"},
                    {"id":"131121","topic":"最近2个自然月余额查询笔数"},
                    {"id":"131122","topic":"最近3个自然月余额查询笔数"},
                    {"id":"131123","topic":"最近6个自然月余额查询笔数"},
                    {"id":"131124","topic":"最近12个自然月余额查询笔数"},
                    {"id":"131125","topic":"最近24个自然月余额查询笔数"},
                    {"id":"131126","topic":"最近12个自然月余额查询位图"},
                    {"id":"131127","topic":"最近1个自然月余额查询金额最大值"},
                    {"id":"131128","topic":"最近2个自然月余额查询金额最大值"},
                    {"id":"131129","topic":"最近3个自然月余额查询金额最大值"},
                    {"id":"131130","topic":"最近6个自然月余额查询金额最大值"},
                    {"id":"131131","topic":"最近12个自然月余额查询金额最大值"},
                    {"id":"131132","topic":"最近24个自然月余额查询金额最大值"},
                    {"id":"131133","topic":"最近1个自然月查询银行卡张数"},
                    {"id":"131134","topic":"最近3个自然月查询银行卡张数"},
                    {"id":"131135","topic":"最近6个自然月查询银行卡张数"},
                    {"id":"131136","topic":"最近12个自然月查询银行卡张数"},
                    {"id":"131137","topic":"最近24个自然月查询银行卡张数"},
                    {"id":"131138","topic":"最近1个自然月查询银行卡银行数"},
                    {"id":"131139","topic":"最近3个自然月查询银行卡银行数"},
                    {"id":"131140","topic":"最近6个自然月查询银行卡银行数"},
                    {"id":"131141","topic":"最近12个自然月查询银行卡银行数"},
                    {"id":"131142","topic":"最近24个自然月查询银行卡银行数"},
                    {"id":"131143","topic":"话费充值总笔数"},
                    {"id":"131144","topic":"最近1个自然月话费充值笔数"},
                    {"id":"131145","topic":"最近2个自然月话费充值笔数"},
                    {"id":"131146","topic":"最近3个自然月话费充值笔数"},
                    {"id":"131147","topic":"最近6个自然月话费充值笔数"},
                    {"id":"131148","topic":"最近12个自然月话费充值笔数"},
                    {"id":"131149","topic":"最近24个自然月话费充值笔数"},
                    {"id":"131150","topic":"最近1个自然月话费充值金额"},
                    {"id":"131151","topic":"最近2个自然月话费充值金额"},
                    {"id":"131152","topic":"最近3个自然月话费充值金额"},
                    {"id":"131153","topic":"最近6个自然月话费充值金额"},
                    {"id":"131154","topic":"最近12个自然月话费充值金额"},
                    {"id":"131155","topic":"最近24个自然月话费充值金额"},
                    {"id":"131156","topic":"最近6个自然月充值月份数"},
                    {"id":"131157","topic":"最近12个自然月充值月份数"},
                    {"id":"131158","topic":"最近24个自然月充值月份数"}
                ]},
                {"id":"132","topic":"拉卡拉金融","children":[
                    {"id":"1320","topic":"最早一次钱包交易时间"},
                    {"id":"1321","topic":"最后一次钱包交易时间"},
                    {"id":"1322","topic":"钱包月日均余额"},
                    {"id":"1323","topic":"近3个自然月钱包月均余额"},
                    {"id":"1324","topic":"近6个自然月钱包月均余额"},
                    {"id":"1325","topic":"近12个自然月钱包月均余额"},
                    {"id":"1326","topic":"钱包历史最高余额"},
                    {"id":"1327","topic":"近3个自然月钱包最高余额"},
                    {"id":"1328","topic":"当前钱包余额"},
                    {"id":"1329","topic":"钱包月均充值金额"},
                    {"id":"13210","topic":"近3个自然月钱包月均充值金额"},
                    {"id":"13211","topic":"近6个自然月钱包月均充值金额"},
                    {"id":"13212","topic":"钱包月均转入金额"},
                    {"id":"13213","topic":"近3个自然月钱包月均转入金额"},
                    {"id":"13214","topic":"近6个自然月钱包月均转入金额"},
                    {"id":"13215","topic":"用户当期理财账户余额"},
                    {"id":"13216","topic":"2号账号余额最大值"},
                    {"id":"13217","topic":"2号总持有期限"},
                    {"id":"13218","topic":"2号总收益"},
                    {"id":"13219","topic":"开户日期"},
                    {"id":"13220","topic":"2号第一次申购金额"},
                    {"id":"13221","topic":"2号第一次申购金额日期"},
                    {"id":"13222","topic":"2号最后一次申购金额，日期"},
                    {"id":"13223","topic":"2号最后一次申购日期"},
                    {"id":"13224","topic":"最后一次申购时间距离上次赎回时间的时间差-天"},
                    {"id":"13225","topic":"2号所有申购总金额、"},
                    {"id":"13226","topic":"2号所有申购总次数"},
                    {"id":"13227","topic":"2号所有申购总月份数"},
                    {"id":"13228","topic":"2号第一次赎回日期、金额、方式"},
                    {"id":"13229","topic":"2号第一次赎回金额"},
                    {"id":"13230","topic":"2号第一次赎回日期、金额、方式"},
                    {"id":"13231","topic":"2号最后一次赎回时间"},
                    {"id":"13232","topic":"2号最后一次赎回金额"},
                    {"id":"13233","topic":"2号最后一次赎回方式"},
                    {"id":"13234","topic":"1号开户时间"},
                    {"id":"13235","topic":"1号开户账户余额"},
                    {"id":"13236","topic":"1号开户总收益"},
                    {"id":"13237","topic":"3号开户时间"},
                    {"id":"13238","topic":"3号开户账户余额"},
                    {"id":"13239","topic":"3号开户总收益"},
                    {"id":"13240","topic":"1号总申购次数"},
                    {"id":"13241","topic":"1号总申购金额"},
                    {"id":"13242","topic":"3号总申购次数、金额"},
                    {"id":"13243","topic":"3号总申购次数、金额"},
                    {"id":"13244","topic":"1号第一次申购金额"},
                    {"id":"13245","topic":"1号第一次申购时间"},
                    {"id":"13246","topic":"1号第一次申购期限"},
                    {"id":"13247","topic":"3号第一次申购金额"},
                    {"id":"13248","topic":"3号第一次申购时间"},
                    {"id":"13249","topic":"3号第一次申购期限"},
                    {"id":"13250","topic":"1号最后一次申购金额"},
                    {"id":"13251","topic":"1号最后一次申购时间"},
                    {"id":"13252","topic":"1号最后一次申购期限"},
                    {"id":"13253","topic":"3号最后一次申购金额"},
                    {"id":"13254","topic":"3号最后一次申购时间"},
                    {"id":"13255","topic":"3号最后一次申购期限"},
                    {"id":"13256","topic":"1号申购最长期限"},
                    {"id":"13257","topic":"3号申购最长期限"},
                    {"id":"13258","topic":"1号第一次赎回日期"},
                    {"id":"13259","topic":"1号第一次赎回金额"},
                    {"id":"13260","topic":"1号第一次赎回方式"},
                    {"id":"13261","topic":"1号最后一次赎回日期"},
                    {"id":"13262","topic":"1号最后一次赎回金额"},
                    {"id":"13263","topic":"1号最后一次赎回方式"},
                    {"id":"13264","topic":"3号第一次赎回日期"},
                    {"id":"13265","topic":"3号第一次赎回金额"},
                    {"id":"13266","topic":"3号第一次赎回方式"},
                    {"id":"13267","topic":"3号最后一次赎回日期"},
                    {"id":"13268","topic":"3号最后一次赎回金额"},
                    {"id":"13269","topic":"3号最后一次赎回方式"},
                    {"id":"13270","topic":"替你还最后一次申请日期"},
                    {"id":"13271","topic":"易分期最后一次申请时间"},
                    {"id":"13272","topic":"替你还总计申请次数"},
                    {"id":"13273","topic":"易分期总申请次数"},
                    {"id":"13274","topic":"替你还总计放款次数"},
                    {"id":"13275","topic":"替你还总计放款金额"},
                    {"id":"13276","topic":"易分期总计放款次数"},
                    {"id":"13277","topic":"易分期总计放款金额"},
                    {"id":"13278","topic":"替你还最后一次放款日期"},
                    {"id":"13279","topic":"替你还最后一次放款金额"},
                    {"id":"13280","topic":"易分期最后一次放款日期"},
                    {"id":"13281","topic":"易分期最后一次放款金额"},
                    {"id":"13282","topic":"替你还至今审核未通过"},
                    {"id":"13283","topic":"易分期至今审核未通过"},
                    {"id":"13284","topic":"替你还当期逾期未还金额"},
                    {"id":"13285","topic":"易分期当期逾期未还金额"},
                    {"id":"13286","topic":"替你还最后一次还款状态：1提前还款，2到期还款，3逾期还款，4至今未还清，5至今未还款"},
                    {"id":"13287","topic":"易分期最后一次还款状态：1提前还款，2到期还款，3逾期还款，4至今未还清，5至今未还款"},
                    {"id":"13288","topic":"替你还当期逾期天数"},
                    {"id":"13289","topic":"易分期当期逾期天数"},
                    {"id":"13290","topic":"替你还总逾期天数"},
                    {"id":"13291","topic":"替你还合同次数"},
                    {"id":"13292","topic":"易分期合同次数"},
                    {"id":"13293","topic":"替你还最后一次合同日期"},
                    {"id":"13294","topic":"易分期最后一次合同日期"},
                    {"id":"13295","topic":"当期理财账户余额用户近3个自然月"},
                    {"id":"13296","topic":"当期理财账户余额用户近6个自然月"},
                    {"id":"13297","topic":"当期理财账户余额用户近12个自然月"},
                    {"id":"13298","topic":"月均账户余额"},
                    {"id":"13299","topic":"近3个自然月余额最大值"},
                    {"id":"132100","topic":"替你还近6个自然月申请次数"},
                    {"id":"132101","topic":"替你还近12个自然月申请次数"},
                    {"id":"132102","topic":"替你还近6个自然月申请金额"},
                    {"id":"132103","topic":"替你还近12个自然月申请次均金额"},
                    {"id":"132104","topic":"替你还近12个自然月申请月份数"},
                    {"id":"132105","topic":"替你还近6个自然月放款次数近12个自然月放款最大月金额；放款月份数"},
                    {"id":"132106","topic":"替你还近6个自然月放款次数"},
                    {"id":"132107","topic":"替你还近12个自然月放款金额"},
                    {"id":"132108","topic":"替你还近12个自然月放款金额；"},
                    {"id":"132109","topic":"近12个自然月放款最大月金额"},
                    {"id":"132110","topic":"近12个自然月放款月份数"}
                ]},
                {"id":"133","topic":"拉卡拉收单","children":[
                    {"id":"1330","topic":"POS收单交易银行卡张数"},
                    {"id":"1331","topic":"POS收单交易银行卡号"},
                    {"id":"1332","topic":"POS收单交易涉及发卡行总数"},
                    {"id":"1333","topic":"POS收单交易涉及发卡行"},
                    {"id":"1334","topic":"POS收单交易借记卡张数"},
                    {"id":"1335","topic":"POS收单交易贷记卡张数"},
                    {"id":"1336","topic":"POS收单交易总笔数"},
                    {"id":"1337","topic":"POS收单交易总金额"},
                    {"id":"1338","topic":"近1个自然月POS收单交易笔数"},
                    {"id":"1339","topic":"近2个自然月POS收单交易笔数"},
                    {"id":"13310","topic":"近3个自然月POS收单交易笔数"},
                    {"id":"13311","topic":"近6个自然月POS收单交易笔数"},
                    {"id":"13312","topic":"近9个自然月POS收单交易笔数"},
                    {"id":"13313","topic":"近12个自然月POS收单交易笔数"},
                    {"id":"13314","topic":"近1个自然月POS收单交易金额"},
                    {"id":"13315","topic":"近2个自然月POS收单交易金额"},
                    {"id":"13316","topic":"近3个自然月POS收单交易金额"},
                    {"id":"13317","topic":"近6个自然月POS收单交易金额"},
                    {"id":"13318","topic":"近9个自然月POS收单交易金额"},
                    {"id":"13319","topic":"近12个自然月POS收单交易金额"},
                    {"id":"13320","topic":"近12个自然月有POS收单交易的月份数"},
                    {"id":"13321","topic":"近1月交易次数最多的商户类型（MCC）"},
                    {"id":"13322","topic":"近2月交易次数最多的商户类型（MCC）"},
                    {"id":"13323","topic":"近3月交易次数最多的商户类型（MCC）"},
                    {"id":"13324","topic":"近6月交易次数最多的商户类型（MCC）"},
                    {"id":"13325","topic":"近9月交易次数最多的商户类型（MCC）"},
                    {"id":"13326","topic":"近12月交易次数最多的商户类型（MCC）"},
                    {"id":"13327","topic":"近1月交易次数最多的商户网点省份"},
                    {"id":"13328","topic":"近1月交易次数最多的商户网点省份"},
                    {"id":"13329","topic":"近3月交易次数最多的商户网点省份"},
                    {"id":"13330","topic":"近6月交易次数最多的商户网点省份"},
                    {"id":"13331","topic":"近9月交易次数最多的商户网点省份"},
                    {"id":"13332","topic":"近12月交易次数最多的商户网点省份"}
                ]}
            ]}
        ]}
    };
    var options = {                   // options 将在下一章中详细介绍
        container:'jsmind_container', // [必选] 容器的ID
        editable:true,                // [可选] 是否启用编辑
        theme:'orange'                // [可选] 主题
    };
    var jm = new jsMind(options);
    jm.show(mind);
    // jm.toggle_node('10');
    // jm.toggle_node('11');
    // jm.toggle_node('12');
    // jm.toggle_node('13');
    jm.toggle_node('102');
    jm.toggle_node('131');
    jm.toggle_node('132');
    jm.toggle_node('133');
    jm.toggle_node('111');
    jm.toggle_node('112');
    jm.toggle_node('113');
    jm.toggle_node('121');
    jm.toggle_node('122');
    jm.toggle_node('123');
    jm.toggle_node('124');
    jm.toggle_node('125');
    jm.toggle_node('126');
    jm.toggle_node('127');
</script>
     </body>
</html>